.card-container {
    height: 275px;
    display: block;
    perspective: 800px;
    margin-bottom: 1.5rem;
  }
  
  .card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: #fff;
    //box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-color: #a1a5b7!important;

    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  }
  
  .card .front,
  .card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #000;
    display: grid;
    // place-items: center;
  }
  
  .back {
    transform: rotateY(180deg);
  }
  
  .flipped {
    transform: rotateY(180deg);
  }
  
  .arrow-icon {
    position: absolute;
    right: 5px;
    bottom: 5px;
    opacity: 1;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #000;
  }