<div class="card-container">
    <div [ngClass]="toggleProperty ? 'flipped' : ''" class="card border rounded">
      <div class="front">
        <ng-content select="flip-card-front"></ng-content>
        <div class="arrow-icon" (click)="toggle()">
          <i class="ion-ios-arrow-back"></i>
        </div>
      </div>
      <div class="back">
        <ng-content select="flip-card-back"></ng-content>
        <div class="arrow-icon" (click)="toggle()">
          <i class="ion-ios-arrow-back"></i>
        </div>
      </div>
    </div>
  </div>