<div class="d-flex justify-content-between" (click)="toggle()">
    <h2 class="accordion-header pt-sans-bold">
        <div class="symbol symbol-30px me-1">
            <img class="symbol symbol-30px me-1" src="../../../../assets/media/svg/case-management/checkbox-icon.svg" alt="To-Do Icon">
        </div> 
        {{title}}&nbsp;&nbsp;<span class="badge badge-danger badge-lg">Not Completed</span>
    </h2>
    <div [@rotatedState]="!showBody? 'default': 'rotated'" class="arrow"><i class="ion-ios-arrow-down"></i></div>
</div>
<div [@smoothCollapse]="!showBody? 'initial': 'final'">
    <ng-content></ng-content>
</div>
