@import url("https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css");

.accordion-header {
    font-size: 1.35rem !important;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
}

.arrow {
    font-size: 18px;
    padding: 1.5rem 2rem 1.5rem 1.5rem;
}
