/**** NEED TO MOVE THIS TO THE INDIVIDUAL PARTIALS ****/

:host {
    label { 
        font-size: 1.1rem; 
        font-family: "PT Sans"; 
        text-transform: uppercase !important; 
        margin-bottom: 0.5rem;
        font-weight: 500;
    }

    input.invalid, .error { 
        border-color: rgb(143, 0, 0); 
        color: rgb(143, 0, 0); 
    }
}