<p>test-ground works!</p>
<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4">

<flip-card>
    <flip-card-front>
        <div class="card-header pt-2 mb-5 px-4">
            <div class="card-title flex-column">
                <div class="d-flex align-items-center">
                    <div class="symbol symbol-40px me-2">
                        <img src="../../../../assets/media/svg/case-management/case-management-open.svg" alt="Draft Case Icon">
                    </div>
                    
                    <h4 class="text-uppercase">CINA Assessment<br>
                    <span class="fw-normal fs-6 text-gray-700">Case ID: <a href="../../case/case-details/case-details.html">YYYYMM998877</a></span></h4>
                </div>
            </div>
            
            <!--START::TOOLBAR-->
            <div class="card-toolbar gap-4">
                <div class="d-flex flex-column">
                    <span class="badge badge-light fw-bold me-auto px-4 py-3">Draft</span>
                </div>
            
                <div class="d-flex flex-column">
                    <button class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary show menu-dropdown" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-overflow="true" title="Quick Action Menu">
                        <i class="bi bi-three-dots fs-3"></i>
                    </button>
                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px" data-kt-menu="true">
                        <div class="menu-item px-3">
                            <a href="#" class="menu-link px-3" data-bs-toggle="modal" data-bs-target="#kt_modal_share_case">Share Case</a>
                        </div>
                        
                        <div class="menu-item px-3">
                            <a href="#" class="menu-link px-3" data-bs-toggle="modal" data-bs-target="#kt_modal_assign_worker">Assign Worker</a>
                        </div>
                        
                        <div class="menu-item px-3">
                            <a href="#" class="menu-link px-3" data-bs-toggle="modal" data-bs-target="#kt_modal_cancel_case">Cancel Case</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--END::TOOLBAR-->
        </div>
        <div class="card-body pt-0 pb-0 px-3">
															
            <div class="d-flex justify-content-between gap-3 pb-0">
                <div class="px-2">
                    <div class="fs-7 fw-bold text-gray-900 text-uppercase lh-1 mb-2">Children</div>
                    
                    <div class="d-flex flex-stack pt-0">
                        <div class="d-flex flex-start me-2">
                            <div class="d-flex flex-column">
                                <div class="col mb-1 mx-0">
                                    <div class="pt-sans-narrow fs-7 lh-1">
                                        <a class="text-hover-primary" href="../../person/person-details/person-details.html" target="_blank">Haddie Braverman 17</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-flex flex-stack pt-0">
                        <div class="d-flex flex-start me-2">
                            <div class="d-flex flex-column">
                                <div class="col mb-1 mx-0">
                                    <div class="pt-sans-narrow fs-7 lh-1">
                                        <a class="text-hover-primary" href="../../person/person-details/person-details.html" target="_blank">Max Braverman 10</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-flex flex-stack pt-0">
                        <div class="d-flex flex-start me-2">
                            <div class="d-flex flex-column">
                                <div class="col mb-1 mx-0">
                                    <div class="pt-sans-narrow fs-7 lh-1">
                                        <a class="text-hover-primary" href="../../person/person-details/person-details.html" target="_blank">Nora Braverman 4</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="px-2 pt-0">
                    <div class="fs-7 fw-bold text-gray-900 text-uppercase lh-1">Incident Number</div>
                    <div class="fs-7 lh-2 pb-2"><a class="text-hover-primary" href="#">876345321SAF</a></div>
                    
                    <div class="fs-7 fw-bold text-gray-900 text-uppercase lh-1">Residence County</div>
                    <div class="text-gray-700 fs-7 lh-2 pb-2">Tama</div>
                    
                    <div class="fs-7 fw-bold text-gray-900 text-uppercase lh-1">Due Date</div>
                    <div class="text-gray-700 fs-7 lh-2 pb-2">07/25/2023</div>
                    
                    <div class="fs-7 fw-bold text-gray-900 text-uppercase lh-1">Date Sent for SWCM Approval</div>
                    <div class="text-gray-700 fs-7 lh-2 pb-2">07/25/2023</div>
                </div>
                
                <div class="px-2 pt-0">
                    <div class="fs-7 fw-bold text-gray-900 text-uppercase lh-1">CPW</div>
                    <div class="text-gray-700 fs-7 lh-2 pb-2"><a class="text-hover-primary" href="mailto:jwilson5@dhs.state.ia.us">Josh Wilson</a></div>
                    
                    <div class="fs-7 fw-bold text-gray-900 text-uppercase lh-1">Assigned SWCM</div>
                    <div class="text-gray-700 fs-7 lh-2 pb-2"><a class="text-hover-primary" href="#">&nbsp;</a></div>
                    
                    <div class="fs-7 fw-bold text-gray-900 text-uppercase lh-1">Transfer Submitted<br>to Supervisor</div>
                    <div class="text-gray-700 fs-7 lh-2 pb-2">&nbsp;</div>
                    
                    <div class="fs-7 fw-bold text-gray-900 text-uppercase lh-1">Shared With</div>
                    <div class="text-gray-700 fs-7 lh-2 pb-2">
                        <div class="lh-1 mt-1"><a class="text-hover-primary" href="#">&nbsp;</a></div>
                    </div>
                </div>
            </div>
        </div>
    </flip-card-front>
    <flip-card-back>
        <h2>This is card back</h2>
    </flip-card-back>
</flip-card>
<div></div>
<div></div>
</div>

<vision-card>
    <app-input 
        [control]="formGroup.controls.firstName" 
        inputId="firstName" 
        [label]="'First Name'">
    </app-input>
    <app-input 
        [control]="formGroup.controls.lastName" 
        inputId="lastName" 
        [label]="'Last Name'">
    </app-input>
    <app-input 
        [control]="formGroup.controls.email" 
        inputId="email" 
        [label]="'Email'">
    </app-input>
</vision-card>

<div class="chip-container">
    <app-chips
        [(ngModel)]="items"
        [removeable]="true"
    >
</app-chips>
</div>

<accordion class="accordion">
    <accordion-item title="To-Do List">
        <div class="card-header">
            <div class="card-title flex-column">
                <div class="d-flex align-items-center"></div>
            </div>

            <div class="card-toolbar">
                <div class="d-flex flex-stack flex-wrap gap-4">
                    <div class="d-flex align-items-center position-relative pt-sans">
                        <span class="svg-icon svg-icon-3 position-absolute ms-3">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                                <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor"></path>
                            </svg>
                        </span>

                        <input type="text" data-kt-table-widget-4="search" class="form-control form-control-sm w-150px ps-10" placeholder="Search">
                    </div>
                    
                    <div class="d-flex align-items-center fw-bold pt-sans">
                        <a href="#" class="btn btn-sm btn-flex btn-bg-secondary btn-active-color-primary fw-bold text-uppercase" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">

                        <span class="svg-icon svg-icon-6 svg-icon-muted me-1">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor"></path>
                            </svg>
                        </span>
                        Filter</a>

                        <div class="menu menu-sub menu-sub-dropdown w-250px w-md-300px" data-kt-menu="true" id="kt_menu_637dc73db12ab">
                            <div class="px-7 py-5">
                                <div class="fs-5 text-dark fw-bold">Filter Options</div>
                            </div>

                            <div class="separator border-gray-200"></div>

                            <div class="px-7 py-5">
                                <div class="mb-10">
                                    <label class="form-label text-uppercase">Status</label>

                                    <div>
                                        <select class="form-select form-select-sm select2-hidden-accessible" data-kt-select2="true" data-placeholder="Select Option" data-dropdown-parent="#kt_menu_637dc73db12ab" data-allow-clear="true" data-select2-id="select2-data-11-ovtd" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                                            <option data-select2-id="select2-data-13-vs6x"></option>
                                            <option value="1">Pending</option>
                                            <option value="2">Done</option>
                                        </select><span class="select2 select2-container select2-container--bootstrap5" dir="ltr" data-select2-id="select2-data-12-ymku" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single form-select form-select-sm" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-f9a7-container" aria-controls="select2-f9a7-container"><span class="select2-selection__rendered" id="select2-f9a7-container" role="textbox" aria-readonly="true" title="Select Option"><span class="select2-selection__placeholder">Select Option</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                </div>

                                <!--<div class="mb-10">
                                    <label class="form-label fw-semibold">Member Type:</label>

                                    <div class="d-flex">
                                        <label class="form-check form-check-sm form-check-custom form-check-solid me-5">
                                            <input class="form-check-input" type="checkbox" value="1" />
                                            <span class="form-check-label">Author</span>
                                        </label>

                                        <label class="form-check form-check-sm form-check-custom form-check-solid">
                                            <input class="form-check-input" type="checkbox" value="2" checked="checked" />
                                            <span class="form-check-label">Customer</span>
                                        </label>
                                    </div>
                                </div>-->

                                <!--<div class="mb-10">
                                    <label class="form-label fw-semibold">Notifications:</label>

                                    <div class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
                                        <input class="form-check-input" type="checkbox" value="" name="notifications" checked="checked" />
                                        <label class="form-check-label">Enabled</label>
                                    </div>
                                </div>-->

                                <div class="d-flex justify-content-end">
                                    <button type="reset" class="btn btn-sm btn-light btn-active-light-primary me-2 text-uppercase" data-kt-menu-dismiss="true">Reset</button>

                                    <button type="submit" class="btn btn-sm btn-dark text-uppercase" data-kt-menu-dismiss="true">Apply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--EXPORT-->
                    <!--<div class="d-flex align-items-center fw-bold">
                        <button type="button" class="btn btn-sm btn-flex btn-bg-secondary btn-active-color-primary fw-bold text-uppercase pt-sans" data-bs-toggle="modal" data-bs-target="#kt_customer_export_modal">
                        <span class="svg-icon svg-icon-2">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="1" x="12.75" y="4.25" width="12" height="2" rx="1" transform="rotate(90 12.75 4.25)" fill="currentColor" />
                        <path d="M12.0573 6.11875L13.5203 7.87435C13.9121 8.34457 14.6232 8.37683 15.056 7.94401C15.4457 7.5543 15.4641 6.92836 15.0979 6.51643L12.4974 3.59084C12.0996 3.14332 11.4004 3.14332 11.0026 3.59084L8.40206 6.51643C8.0359 6.92836 8.0543 7.5543 8.44401 7.94401C8.87683 8.37683 9.58785 8.34458 9.9797 7.87435L11.4427 6.11875C11.6026 5.92684 11.8974 5.92684 12.0573 6.11875Z" fill="currentColor" />
                        <path opacity="1" d="M18.75 8.25H17.75C17.1977 8.25 16.75 8.69772 16.75 9.25C16.75 9.80228 17.1977 10.25 17.75 10.25C18.3023 10.25 18.75 10.6977 18.75 11.25V18.25C18.75 18.8023 18.3023 19.25 17.75 19.25H5.75C5.19772 19.25 4.75 18.8023 4.75 18.25V11.25C4.75 10.6977 5.19771 10.25 5.75 10.25C6.30229 10.25 6.75 9.80228 6.75 9.25C6.75 8.69772 6.30229 8.25 5.75 8.25H4.75C3.64543 8.25 2.75 9.14543 2.75 10.25V19.25C2.75 20.3546 3.64543 21.25 4.75 21.25H18.75C19.8546 21.25 20.75 20.3546 20.75 19.25V10.25C20.75 9.14543 19.8546 8.25 18.75 8.25Z" fill="currentColor" />
                        </svg></span>
                        Export</button>
                    </div>-->

                    <div class="d-flex align-items-center fw-bold">
                        <a href="#" class="btn btn-sm btn-dark align-self-center text-uppercase" data-bs-toggle="modal" data-bs-target="#kt_modal_add_task">Add To-Do</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-body pt-0 pt-sans scroll h-400px">
            <div class="table-responsive">
                <table class="table align-middle gs-0 gy-4">
                    <thead>
                        <tr>
                            <th class="p-0 w-10px" title="To-Do List Color Indicator"></th>
                            <th class="p-0 w-25px" title="To-Do List Checkbox"></th>
                            <th class="p-0 min-w-225px" title="To-Do List Item Name"></th>
                            <th class="p-0 min-w-60px" title="To-Do List Progress"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center h-40px bg-success"></span></td>
                            <td class="ps-0">
                                <div class="form-check form-check-custom form-check-success form-check-solid">
                                    <input class="form-check-input" type="checkbox" value="" checked="checked" data-kt-element="checkbox">
                                </div>
                            </td>
                            <td>
                                <a href="#" class="text-gray-800 text-hover-primary fw-bold fs-6">Adoption/TPR Adoption Packet</a>
                                <span class="text-gray-700 fw-bold d-block">DUE 04/30/2023</span>
                            </td>
                            <td class="text-end"><span data-kt-element="status" class="badge badge-light-success">Done</span></td>
                        </tr>
                        <tr>
                            <td><span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center h-40px bg-danger"></span></td>
                            <td class="ps-0">
                                <div class="form-check form-check-custom form-check-solid">
                                    <input class="form-check-input" type="checkbox" value="" data-kt-element="checkbox">
                                </div>
                            </td>
                            <td class="bg-light-danger rounded">
                                <a href="#" class="text-gray-800 text-hover-primary fw-bold fs-6">Case Notes Documentation</a>
                                <span class="text-danger fw-bold d-block"><i class="bi bi-exclamation-octagon-fill text-danger"></i>
                                &nbsp;Due in 2 Days</span>
                            </td>
                            
                            <td class="text-end"><span data-kt-element="status" class="badge badge-light-danger">Pending</span></td>
                        </tr>
                        <tr>
                            <td><span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center h-40px bg-success"></span></td>
                            <td class="ps-0">
                                <div class="form-check form-check-custom form-check-success form-check-solid">
                                    <input class="form-check-input" type="checkbox" value="" checked="checked" data-kt-element="checkbox">
                                </div>
                            </td>
                            <td>
                                <a href="#" class="text-gray-800 text-hover-primary fw-bold fs-6">Case Plan (Auto Generated)</a>
                                <span class="text-gray-700 fw-bold d-block">DUE 04/30/2023</span>
                            </td>
                            <td class="text-end"><span data-kt-element="status" class="badge badge-light-success">Done</span></td>
                        </tr>
                        <tr>
                            <td><span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center h-40px bg-success"></span></td>
                            <td class="ps-0">
                                <div class="form-check form-check-custom form-check-success form-check-solid">
                                    <input class="form-check-input" type="checkbox" value="" checked="checked" data-kt-element="checkbox">
                                </div>
                            </td>
                            <td>
                                <a href="#" class="text-gray-800 text-hover-primary fw-bold fs-6">Comprehensive Case Plan</a>
                                <span class="text-gray-700 fw-bold d-block">DUE 04/30/2023</span>
                            </td>
                            <td class="text-end"><span data-kt-element="status" class="badge badge-light-success">Done</span></td>
                        </tr>
                        <tr>
                            <td><span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center h-40px bg-danger"></span></td>
                            <td class="ps-0">
                                <div class="form-check form-check-custom form-check-solid">
                                    <input class="form-check-input" type="checkbox" value="" data-kt-element="checkbox">
                                </div>
                            </td>
                            <td class="bg-light-warning rounded">
                                <a href="#" class="text-gray-800 text-hover-primary fw-bold fs-6">Complete 3055s</a>
                                <span class="text-gray-700 fw-bold d-block"><i class="bi bi-cone-striped text-warning"></i>&nbsp;Due in 10 Days</span>
                            </td>
                            <td class="text-end"><span data-kt-element="status" class="badge badge-light-danger">Pending</span></td>
                        </tr>
                        <tr>
                            <td><span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center h-40px bg-danger"></span></td>
                            <td class="ps-0">
                                <div class="form-check form-check-custom form-check-solid">
                                    <input class="form-check-input" type="checkbox" value="" data-kt-element="checkbox">
                                </div>
                            </td>
                            <td>
                                <a href="#" class="text-gray-800 text-hover-primary fw-bold fs-6">CFSR Prep</a>
                                <span class="text-gray-700 fw-bold d-block">DUE 04/30/2023</span>
                            </td>
                            <td class="text-end"><span data-kt-element="status" class="badge badge-light-danger">Pending</span></td>
                        </tr>
                        <tr>
                            <td><span data-kt-element="bullet" class="bullet bullet-vertical d-flex align-items-center h-40px bg-danger"></span></td>
                            
                            <td class="ps-0">
                                <div class="form-check form-check-custom form-check-solid">
                                    <input class="form-check-input" type="checkbox" value="" data-kt-element="checkbox">
                                </div>
                            </td>
                            <td>
                                <a href="#" class="text-gray-800 text-hover-primary fw-bold fs-6">Court Preparation Time</a>
                                <span class="text-gray-700 fw-bold d-block">DUE 04/30/2023</span>
                            </td>
                            <td class="text-end"><span data-kt-element="status" class="badge badge-light-danger">Pending</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </accordion-item>
</accordion>

<vision-card [cardTitle]="'Calendar'">
    <vision-calendar></vision-calendar>
    <vision-button
        [label]="'Button'"
        [btnSize]="'sm'">
    </vision-button>
</vision-card>
